fastapi==0.112.4
uvicorn[standard]==0.31.1
jinja2==3.1.5
requests==2.32.3
httpx==0.27.2
tenacity==9.0.0
aiocache==0.12.3
apscheduler==3.10.4
sentry-sdk==2.19.0
prometheusrock==0.1.3
slowapi==0.1.9
Pillow==11.1.0
telethon>=1.33.0,<2
pytest
py-spy==0.4.2
