<script>
(function (g) {
  if (g.apiFetchJson) return;
  g.apiFetchJson = function fetchJson(url, ms) {
    ms = ms == null ? 12000 : ms;
    var ctrl = new AbortController();
    var timer = setTimeout(function () { ctrl.abort(); }, ms);
    return fetch(url, { headers: { Accept: 'application/json' }, signal: ctrl.signal })
      .then(function (r) {
        clearTimeout(timer);
        if (!r.ok) throw new Error('HTTP ' + r.status);
        return r.json();
      })
      .catch(function (err) {
        clearTimeout(timer);
        throw err;
      });
  };
})(window);
</script>
<script type="application/json" id="subnet-group-data">{{ {
  'roster': sn_list[:24] if sn_list else [],
  'indicators': ti_rows,
  'hour_picks': hp,
  'day_picks': dyp,
  'trail': mindmap_trail[:20] if mindmap_trail else [],
  'predictions': predictions[:12] if predictions else []
}|tojson }}</script>
<script src="/static/js/conviction_tiers.js" defer></script>
<script src="/static/js/data_freshness.js" defer></script>
<script src="/static/js/api_fetch.js" defer></script>
<script src="/static/js/ops_readiness_badge.js" defer></script>
<script src="/static/js/trust_banner_ui.js" defer></script>
<script src="/static/js/market_drivers_ui.js" defer></script>
<script src="/static/js/brain_letter.js" defer></script>
<script src="/static/js/story_path_ui.js" defer></script>
<script src="/static/js/paper_portfolio.js" defer></script>
<script src="/static/js/weekly_letter.js" defer></script>
<script src="/static/js/daily_recap.js" defer></script>
<script src="/static/js/watchlist_alerts.js" defer></script>
<script src="/static/js/letter_export.js" defer></script>
<script src="/static/js/time_capsule.js" defer></script>
<script src="/static/js/cockpit_hydrate.js" defer></script>
<script src="/static/js/home_live_refresh.js" defer></script>
<script src="/static/js/living_focus.js" defer></script>
<script src="/static/js/home_deferred.js" defer></script>
